<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PictureCarrier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PictureCarrier.Properties.Settings>
            <setting name="ComportName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="SendID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpenInitialDirectory" serializeAs="String">
                <value>c:\\</value>
            </setting>
            <setting name="MenuFilterID" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RepeatTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="RepeatFolder" serializeAs="String">
                <value>c:\\EPDTest\\temp</value>
            </setting>
        </PictureCarrier.Properties.Settings>
    </userSettings>
</configuration>